.brands-hero {
	padding: 50px 0;
	text-align: center;
	@media (min-width: 992px) {
		text-align: start;
	}
	h1 {
		font-size: 28px;
		font-weight: 700;
		color: $blue-vd;
	}
	h2 {
		font-size: 18px;
		font-weight: 500;
		color: $blue-d;
		margin-bottom: 40px;
	}
	a {
		font-size: 18px;
		font-weight: 700;
		color: #fff;
		background-color: $blue-d;
		text-decoration: none;
		padding: 10px 30px;
		border-radius: 50px;
		transition: 0.25s;
		&:hover {
			background-color: $blue-vd;
		}
	}
	@media (min-width: 1400px) {
		h1 {
			font-size: 36px;
			margin-bottom: 20px;
		}
		h2 {
			font-size: 22px;
			margin-bottom: 60px;
		}
		a {
			font-size: 22px;
			z-index: 9;
		}
	}
	position: relative;
	.arrows {
		position: absolute;
		width: 100px;
		z-index: -1;
		&:nth-of-type(1) {
			top: 10%;
			left: 5%;
			transform: translate(-50%, -50%) rotate(20deg);
		}
		&:nth-of-type(2) {
			top: 90%;
			left: 95%;
			transform: translate(-50%, -50%) rotate(200deg);
			@media (min-width: 992px) {
				left: 80%;
			}
		}
	}
}
.scene {
	width: 90vw;
	height: 1.1 * 90vw;
	max-width: 600px;
	max-height: 660px;
	margin: 10px auto;
	svg {
		position: absolute;
		top: 50%;
		left: 55%;
		transform: translate(-50%, -50%);
		width: 150%;
		z-index: -1;
	}
	@media (min-width: 576px) {
		width: 70vw;
		height: 1.1 * 70vw;
	}
	@media (min-width: 992px) {
		width: 40vw;
		height: 1.1 * 40vw;
	}
	perspective: 2000px;
	position: relative;
	overflow: visible;
	&__img {
		position: absolute;
		width: auto;
		height: 60%;
		animation: hover 6s linear infinite;
		animation-play-state: paused;

		&:nth-of-type(1) {
			top: 0;
			left: 0;
			transform: rotateX(10deg) rotateY(-30deg) rotateZ(10deg);
			animation-delay: -1s;
		}
		&:nth-of-type(2) {
			top: 0;
			right: 0;
			transform: rotateX(10deg) rotateY(-30deg) rotateZ(10deg);
			animation-delay: -2s;
		}
		&:nth-of-type(3) {
			bottom: 0;
			left: 0;
			transform: rotateX(10deg) rotateY(-30deg) rotateZ(10deg);
			animation-delay: -3s;
		}

		&:nth-of-type(4) {
			bottom: 0;
			right: 0;
			transform: rotateX(10deg) rotateY(-30deg) rotateZ(10deg);
			animation-delay: -4s;
		}
	}
	&__symbol {
		position: absolute;
		width: auto;
		height: 10%;
		animation: hover2 6s linear infinite;
		animation-play-state: paused;
		&:nth-last-of-type(4) {
			top: 10%;
			left: 50%;
			animation-delay: -1s;
		}
		&:nth-last-of-type(3) {
			top: 80%;
			left: 10%;
			animation-delay: -2s;
		}
		&:nth-last-of-type(2) {
			top: 60%;
			left: 50%;
			animation-delay: -3s;
		}
		&:nth-last-of-type(1) {
			top: 85%;
			left: 75%;
			animation-delay: -4s;
		}
	}
	&.play {
		.scene__img {
			animation-play-state: running;
		}
		.scene__symbol {
			animation-play-state: running;
		}
	}
}
@keyframes hover {
	0% {
		transform: rotateX(10deg) rotateY(-30deg) rotateZ(10deg) translate(5px, 5px)
			scale(1);
	}
	25% {
		transform: rotateX(10deg) rotateY(-30deg) rotateZ(10deg)
			translate(5px, -5px) scale(0.98);
	}
	50% {
		transform: rotateX(10deg) rotateY(-30deg) rotateZ(10deg)
			translate(-5px, -5px) scale(1.02);
	}
	70% {
		transform: rotateX(10deg) rotateY(-30deg) rotateZ(10deg)
			translate(-5px, 5px) scale(0.98);
	}
	100% {
		transform: rotateX(10deg) rotateY(-30deg) rotateZ(10deg) translate(5px, 5px)
			scale(1);
	}
}
@keyframes hover2 {
	0% {
		transform: translate(-50%, -50%) translateY(0px) scale(1);
	}
	25% {
		transform: translate(-50%, -50%) translateY(10px) scale(0.98);
	}
	50% {
		transform: translate(-50%, -50%) translateY(0px) scale(1.02);
	}
	70% {
		transform: translate(-50%, -50%) translateY(-10px) scale(0.98);
	}
	100% {
		transform: translate(-50%, -50%) translateY(0px) scale(1);
	}
}
