.card-section {
	background-image: linear-gradient(
		180deg,
		rgba(255, 255, 255, 1) 0%,
		rgba(255, 255, 255, 1) 30%,
		$blue-vl 30%,
		$blue-vl 70%,
		rgba(255, 255, 255, 1) 70%,
		rgba(255, 255, 255, 1) 100%
	);
	.card {
		background-color: #fff;
		border: none;
		border-radius: 50px;
		box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
	}
	.content {
		padding: 50px 10px;
		@media (min-width: 768px) {
			padding: 100px 60px;
		}
		img {
			width: 90%;
			max-width: 600px;
			margin-bottom: 40px;
		}
		.title {
			font-weight: 700;
			color: $blue-d;
			margin-bottom: 60px;
		}
		.desc {
			font-size: 22px;
			color: $blue-vd;
		}
		position: relative;
		&-1::after {
			content: "";
			position: absolute;
			top: 100%;
			left: 10%;
			height: 1px;
			width: 80%;
			background-color: $blue-l;
			@media (min-width: 992px) {
				top: 10%;
				left: 100%;
				height: 80%;
				width: 1px;
			}
		}
	}
}
