.create-campaigns {
	.grid-4x4 {
		display: grid;
		grid-template-columns: 120px 120px;
		grid-template-rows: auto auto;
		grid-gap: 25px;
		@media (min-width: 768px) {
			grid-template-columns: 180px 180px;
			grid-template-rows: auto auto;
		}
		@media (min-width: 992px) {
			grid-gap: 50px 100px;
		}
		justify-content: center;
		margin-top: 100px;
	}
	.social {
		width: 100%;
		perspective: 400px;
		&:nth-of-type(1) {
			animation: scale 3s linear 0s infinite;
		}
		&:nth-of-type(2) {
			animation: scale 3s linear 1s infinite;
		}
		&:nth-of-type(3) {
			animation: scale 3s linear 2s infinite;
		}
		&:nth-of-type(4) {
			animation: scale 3s linear 3s infinite;
		}
		// animation-play-state: paused;
	}
	.arrows {
		position: absolute;
		transform: translate(-50%, -50%);
		width: 100px;
		z-index: -1;
		&.left {
			top: 10%;
			left: 10%;
		}
		&.right {
			transform: translate(-50%, -50%) rotate(180deg);
			top: 90%;
			left: 90%;
		}
		@media (min-width: 768px) {
			width: 150px;
			&.left {
				top: 20%;
			}
			&.right {
				top: 80%;
			}
		}
	}
}
@keyframes scale {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(0.9);
	}
	100% {
		transform: scale(1);
	}
}
